
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DoAn.Models.Product>



<!--Content Header(Page header)-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @using (Html.BeginForm("Index", "Datatables", FormMethod.Get))
                        {
                            <p>
                                Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                <input type="submit" value="Tìm kiếm" />
                            </p>
                        }
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)</th>
                                    <th> @Html.DisplayNameFor(model => model.FirstOrDefault().Price)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Discount)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductPictures)</th>
                                    <th> @Html.DisplayNameFor(model => model.FirstOrDefault().Sex)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Cate)</th>
                                    <th> @Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Discount)</td>
                                        <td> @Html.DisplayFor(modelItem => item.ProductPictures)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Sex)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "edit", new { id = item.ID }) |

                                            @Html.ActionLink("Delete", "delete", new { ID = item.ID })
                                        </td>
                                    </tr>

                                </tbody>
                            }
                        </table>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</section>
<!-- /.content -->